.App {
  text-align: center;
  background-color: #0BAA91;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-wrapper {
  height: 100vh;
  position: relative;
}

.content-wrapper {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.subtitle-logo {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.055em;
  text-align: center;
  margin: 0;
  color: #FCFBFA;

}

.title {
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #FCFBFA;

}

.subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.08em;
  text-align: center;
  padding: 12px 16px;
  background-color: #f2f2f2;
  width: fit-content;
  border-radius: 10px;
  margin: auto;
  white-space: nowrap;
}

.contactanos-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.contactanos-content-wrapper {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: fit-content;
}

.queres-vender {}

.button {
  width: 200px;
  background-color: #0BAA91;
  border-radius: 20px;
  border: none;
  padding: 6px 8px;
  color: #f2f2f2;
}

.blob-1 {
  position: absolute;
  bottom: 0;
  right: 0;
}


.blob-2 {
  position: absolute;
  top: 0;
  left: 0;
}


.blob-3 {
  position: absolute;
  top: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}


.blob-4 {
  position: absolute;
  bottom: 0;
  transform: rotate(180deg);
  left: 60%;
}

.blob-5 {
  position: absolute;
  bottom: -3px;
}

.blob-6 {
  position: absolute;
  top: 30%;
}

.blob-7 {
  position: absolute;
  right: 0px;
  top: 55%;
}

.blob-8 {
  position: absolute;
  top: 25%;
  left: 20%;
}

.blob-9 {
  position: absolute;
  top: 40%;
  left: 12%;
}

.blob-10 {
  position: absolute;
  right: 5%;
  bottom: 15%;
}

.blob-11 {
  position: absolute;
  top: 15%;
  left: 14%;
}

.blob-12 {
  position: absolute;
  top: 35%;
  right: 5%;
}

.blob-13 {
  position: absolute;
  top: 55%;
  right: 15%;
}

.blob-14 {
  position: absolute;
  left: 7%;
  top: 5%;
}

.blob-15 {
  position: absolute;
  right: 5%;
  top: 32%;
  transform: rotate(290deg);
}

.blob-16 {
  position: absolute;
  top: 55%;
  left: 3%;
  transform: rotate(180deg);
}

.blob-17 {
  position: absolute;
  right: 5%;
  bottom: -3px;
}

.blob-18 {
  position: absolute;
  right: 0;
  top: 43%;
}

.blob-19 {
  position: absolute;
  bottom: 10%;
}

@media (max-width: 600px) {
  .title {
    font-size: 24px;
    width: 350px;
    margin: auto;
  }

  .subtitle {
    font-size: 14px;
    margin-top: 12px;
  }

  .blob-6 {
    display: none;
  }

  .blob-7 {
    display: none;
  }

  .blob-11 {
    display: none;
  }

  .blob-13 {
    display: none;
  }

  .blob-14 {
    display: none;
  }
  .blob-19 {
    display: none;
  }

  
}